/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    /*width: 1920px;*/
    background-color: #FBFBFB;
    line-height: 1.5;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.header {
    padding: 24px 80px;
}

.header-bar {
    display: flex;
    justify-content: center;
    gap: 0px 40px;
}

.header .nav {
    font-size: 28px;
}

.intro .intro-imgs {
    display: flex;
    position: relative;
    /*border-bottom: 1px solid #6C757D;*/
}

.intro .intro-imgs img {
    width: 50%;
}

.intro .intro-imgs .blog-title .job-title {
    font-size: 28px;
}

.intro .intro-imgs .blog-title {
    color: #0027D5;
    position: absolute;
    top: calc(50% - 180px);
    left: calc(50% + 80px);
}

.intro .intro-imgs .blog-title .blog {
    font-weight: 900;
    font-size: 120px;
    padding-bottom: 12px;
}

.intro .intro-imgs .blog-title .title {
    font-weight: 700;
    font-size: 28px;
}

.about-me {
    background-color: #fff;
    padding: 80px 40px;
}

.about-me p {
    font-size: 28px;
}

.preface {
}

.about-me {
    width: 1077px;
}

.first-line {
    padding-bottom: 16px;
}

.about-me .icons {
    padding-top: 16px;
    display: flex;
    align-items: center;
}

.about-me .icons svg {
    display: block;
    width: 44px;
}

.content {
    width: 1296px;
    margin: 80px auto;
}

.content h2 {
    font-size: 64px;
    font-weight: 700;
    padding-bottom: 32px;
}

.services {
    width: 1296px;
}

/*.service-ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
}*/

.service-item {
    width: 480px;
    background-color: #fff;
}

.service-item svg {
    margin-top: 24px;
    margin-left: 24px;
}

.service {
    position: relative;
}

.service img {
    width: auto;
    padding-left: 110px;
}

.service-item {
    position: absolute;
    top: 55px;
    right: 110px;
}

.service-item p {
    color: #4B4B4B;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.services h3 {
    font-size: 28px;
    font-weight: 700;
    padding-left: 24px;
    padding-bottom: 8px;
}